$lg: 1024px;

@mixin lg {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin text($name, $weight: true) {
  font-size: var(--text-#{$name});
  line-height: var(--text-#{$name}--line-height);
  letter-spacing: var(--text-#{$name}--letter-spacing);
  @if $weight {
    font-weight: var(--text-#{$name}--font-weight);
  }
}